<?xml version="1.0"?>

<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="world_name" value="$(find drone_basic)/worlds/secure_diamond.world"/> 
  </include>
  


   <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
     <arg name="name" default="chirya"/>
     <arg name="x" default="2.0"/>
     <arg name="y" default="0.0"/>
     <arg name="z" default="0.0"/>
     <arg name="model" value="$(find drone_basic)/urdf/hector_camera_laser.urdf.xacro"/>
   </include>

  <!-- <node name="Flying_Drone" pkg="drone_basic" type="fly_drone.py" output="screen"/> -->
  
</launch>